DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=DatabaseName
DB_USERNAME=user
DB_PASSSWORD=password
# mail
MAIL_HOST=sandbox.smtp
MAIL_PORT=587
MAIL_USERNAME=...
MAIL_PASSWORD=...
MAIL_FROM_ADDRESS=noreply@queueflow.test
MAIL_FROM_NAME=QueueFlow